@font-face {
  font-family: "HansKendrick";
  src: url("../fonts/HansKendrick-Regular.otf") format("opentype");
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #e2e7ec;
  font-family: "HansKendrick";
}

.main {

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 1120px;
  height: 1100px;
  margin-top: 90px;

}

.main__item {
  height: 540px;
  width: 360px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;

}

.item__img {
  height: 266.5px;
}

.main__first-item {
  display: flex;
  height: 540px;
  width: 740px;
  background: url("../images/first-img.jpg");
}

.first-item__text {
  align-self: flex-end;
  width: 430px;
  margin-left: 40px;
  margin-bottom: 35px;
}

.item__date {
  margin-left: 25px;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 2.3;
  color: #818181;
  font-weight: 500;
  margin-top: 25px;
  text-transform: uppercase;
}

.first-item__date {
  margin: 0;
  color: rgba(255, 255, 255, 0.64);
}

.item__header {
  height: 80px;
  font-weight: 700;
  margin-left: 25px;
  font-size: 22px;
  line-height: 1.3;
  color: #1d1d1d;
  margin-top: 20px;
  text-transform: uppercase;
}

.first-item__header {
  margin: 0;
  margin-top: 20px;
  font-size: 30px;
  color: #fff;
}

.item__author-pic {
  margin-left: 25px;
  align-self: flex-end;
  margin-bottom: 20px;
}

.third-header {
  margin-top: 85px;
}

.footer {
  display: flex;
  justify-content: center;
  width: 1120px;
  margin-top: 80px;
  margin-bottom: 95px;
  align-items: center;
}

.footer__sign {
  margin-left: 15px;
  font-size: 13px;
  line-height: 1.5;
  color: #99a5b0;
}
